
<div class="row">
  <div class="col-md-4">
    <button type="button" (click)="studentForm(0)">New Student</button>
  </div>
</div>
<section>
  <p-table [value]="students" class="table">
    <ng-template pTemplate="header">
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Career</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
        <tr>
            <td>{{student.username}}</td>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.age}}</td>
            <td>{{student.career}}</td>
            <td>
              <button type="button" (click)="studentForm(student.id)">Editar</button>
              <button type="button" (click)="delete(student.id)">Eliminar</button>
            </td>
        </tr>
    </ng-template>
  </p-table>
</section>
