<div class="modal-body">
  <!-- Titulo -->
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <h2 class="modal-title font_title text-center">{{ id === 0 ? 'New' : 'Edit' }} Student</h2>
  <!-- Fin Titulo -->

  <!-- Formulario -->
  <form novalidate [formGroup]="form" (ngSubmit)="save($event)">
      <div class="form-group">
        <label>Username
        </label>
        <input type="text" class="form-control" [disabled]="id !== 0"
          formControlName="Username" [maxlength]="formProperties.Username.maxCaracteres" required>
      </div>

      <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control"
            formControlName="FirstName" [maxlength]="formProperties.FirstName.maxCaracteres" required>
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control"
          formControlName="LastName" [maxlength]="formProperties.LastName.maxCaracteres" required>
      </div>

    <div class="form-group">
      <label>Age</label>
      <input type="number" class="form-control"
        formControlName="Age" required>
    </div>

    <div class="form-group">
      <label>Career</label>
      <input type="text" class="form-control"
        formControlName="Career" [maxlength]="formProperties.Career.maxCaracteres" required>
    </div>

      <br><br>
      <div class="form-group text-center">
        <button [disabled]="form.invalid" type="submit">
          Save
        </button>
      </div>
  </form>
  <!-- Fin Formulario -->
</div>
